@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>West Bay University</h1>
</div>
<div>
   <img src="https://images.unsplash.com/photo-1583373834259-46cc92173cb7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80" alt="Campus picture" width="100%"/>
</div>